<div class="page topic">
  <div ng-hide="topic.current" style='margin:15px 30px;'>
    <div class="alert alert-info">
      There are no topics in this wiki. Click on 'New Topic' to create a topic of interest. Once the 
      topic is created, you can click on 'New Section' to add sections to your topic.
    </div>
  </div>
  <div ng-show="topic.current">
    <div class="topic-title">
      <div class="toolbar">
        <button type="button" class="btn btn-primary btn-xs" ng-click="newSection($event)">New Section</button>
      </div>
      <h2  class="text-primary">{{topic.current.label}}
        <small>{{topic.current.desc}}</small>
      </h2>
    </div>
    <div class="sectionContainer">
      <div class="section" ng-repeat="section in topic.sections track by $index" 
           ng-include="'components/topic/section.html'"></div>
    </div>
    
  </div>
</div>

