<div ng-show="leftPanel.currentPanel === 'topics'">
  <div class="toolbar">
    <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="newTopic()">New Topic</button>
  </div>
  <accordion  close-others="true">
    <accordion-group heading="{{topic.label}}" 
                     ng-repeat="topic in leftPanel.topics track by $index"
                     is-open="topic.open">
      <accordion-heading>
        <span class="heading" ng-click="onTopic(topic, $index)">{{topic.label}}</span>
        <span class="badge pull-right">{{topic.sections.length}}</span>
      </accordion-heading>
      <!-- the sections -->
      <ol style="padding-left:20px;">
        <li ng-repeat="section in topic.sections track by $index">
          <a class="text-primary" href="#" ng-click="showSection($event, section.id, $index)">
            <small>{{section.title}}</small>
          </a>
        </li>
      </ol>
      
    </accordion-group>
  </accordion>
</div>
<div ng-hide="leftPanel.currentPanel !== 'settings'">
  <h4>Settings</h4>
</div>
<div ng-hide="leftPanel.currentPanel !== 'search'">
  <div class="toolbar">
    <button type="button" class="btn btn-primary btn-sm btn-block" 
            ng-click="backToTopics()">Back to Topics</button>
  </div>
</div>